<div class="container game_start">
    <h2>Thanks for playing, <%= session[:player_name] %>!</h2>

    <% if @rounds_played > 0 %>
    <table class="table stats">
        <tbody>
            <tr>
                <th>Rounds Played</th>
                <td><%= @rounds_played %></td>
            </tr>
            <tr>
                <th>Remaining Cash</th>
                <td>$<%= session[:player_pool] %></td>
            </tr>
            <tr>
                <th>Initial Cash</th>
                <td>$500</td>
            </tr>
            <% if (@winnings > 0) %>
                <tr>
                    <th>Total Cash Won</th>
                    <td>$<%= @winnings %></td>
                </tr>
            <% else %>
                <tr>
                    <th>Total Cash Lost</th>
                    <td>$<%= -@winnings %></td>
                </tr>
            <% end %>
            <tr>
                <th>Smallest Bet</th>
                <td>$<%= @smallest_bet %></td>
            </tr>
            <tr>
                <th>Largest Bet</th>
                <td>$<%= @largest_bet %></td>
            </tr>
        </tbody>
    </table>

    <% end %>

    <form action='/set_name' method='get'>
        <input type='submit' class='btn' value='Play Again' />
    </form>
</div>
